---
layout: default
title: "About Slow Factory Foundation"
permalink: /about
---


<div class="container">

  <p class="title-lg">About the Foundation</p>

  <div style="columns:2;">
    <p>Slow Factory sees fashion as a vehicle for social, cultural and environmental change. Our work expands far beyond the fashion industry in scope and impact.</p>
    <p>We are a 501c3 public service organization operating as an open education institute, an independent research lab & new media platform, and a granting & empowerment fund. We believe in a regenerative, climate-positive, anti-racist approach to creating climate change solutions and ultimately systemic change.</p>
    <p>Our initiatives and programs focus on circular design, material innovation and addressing social inequity. Through our media platforms, we translate complex information related to climate and social justice for the public.</p>
  </div>



  <!-- <p class="title-md"></p> -->


  <p class="title-md">Board of Directors</p>
  <div class="row-xs valign-top">
  {% for person in site.data.team.board %}
    <div class="third about-team">
      {% if person.img %}<p><img src="{{ person.img | prepend: 'images/team/' | asset_url }}" alt="{{ person.name }}"></p>{% endif %}
      <div class="title-sm">{{ person.name }}</div>
      <p>{{ person.desc }}</p>
    </div>
  {% endfor %}
  </div>


  <p class="title-md">Special Advisors</p>
  <div class="row-xs valign-top">
  {% for person in site.data.team.advisors %}
    <div class="third about-team">
      {% if person.img %}<p><img src="{{ person.img | prepend: 'images/team/' | asset_url }}" alt="{{ person.name }}"></p>{% endif %}
      <div class="title-sm">{{ person.name }}</div>
      <p>{{ person.desc }}</p>
    </div>
  {% endfor %}
  </div>


</div>
