---
layout: default
title: "About Slow Factory Foundation"
permalink: /about
---


<div class="container">

  <p class="title-lg">About the Foundation</p>

  <!-- <p>Slow Factory was founded in 2013 </p> -->


  <p class="title-md">Board of Directors</p>
  <div class="row-xs valign-top">
  {% for person in site.data.team.board %}
    <div class="third about-team">
      {% if person.img %}<p><img src="{{ person.img | prepend: 'images/team/' | asset_url }}" alt="{{ person.name }}"></p>{% endif %}
      <div class="title-sm">{{ person.name }}</div>
      <p>{{ person.desc }}</p>
    </div>
  {% endfor %}
  </div>


  <p class="title-md">Special Advisors</p>
  <div class="row-xs valign-top">
  {% for person in site.data.team.advisors %}
    <div class="third about-team">
      {% if person.img %}<p><img src="{{ person.img | prepend: 'images/team/' | asset_url }}" alt="{{ person.name }}"></p>{% endif %}
      <div class="title-sm">{{ person.name }}</div>
      <p>{{ person.desc }}</p>
    </div>
  {% endfor %}
  </div>


</div>
