---
layout: default
title: "Open Education"
permalink: /open-education
hero_title: "Equity-Centered Education for Black, Brown, Indigenous and minority ethnic communities <span>taught by Black, Brown, Indigenous and minority ethnic scholars, thinkers and educators.</span>"
hero_bg_color: "bg-brown"
---

{% include hero.liquid %}

{% include open-education/register.liquid %}

<div class="section open-education-2021-classes">
  <div class="container">
    <h2 class="title-md text-center">Fall 2021 Semester Classes</h2>
    <div class="open-education-2021-classes__calendar">
      {% for series in site.data.openedu_meta.series %}
      <div class="cell cell_{{forloop.index}}">
        <div class="bar"></div>
        <h3 class="title-sm">{{series.name}}</h3>
        <ul>
          {% assign courses = site.data.openedu | where_exp: "item", "item.series == series.name" %}
          {% for course in courses %}
          <li>
            <div class="date">{{ course.date }}</div>
            <div class="info">
              <div class="title">{{ course.title }}</div>
              <div class="teacher">{{ course.instructor }}</div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      <div class="cell cell_4">
        {% include earth-logo.liquid %}
        <h3 class="title-md">Start now!</h3>
        {% include components/button.liquid data-toggle="modal-register" text="Register for the class" %}
      </div>
    </div>
  </div>
</div>

<div class="section open-education-2020-classes">
  <div class="container">
    <h2 class="title-md">More Open Education Classes</h2>
    {% for course in site.data.openeducation.courses limit:3 %}
      {% include open-education/course.liquid %}
    {% endfor %}
    <div class="button-container text-center">
      {% include components/button.liquid href="/open-education/library" text="View all courses" %}
    </div>
  </div>
</div>

{% include background.liquid %}

{% include footer-donation.liquid %}

{% include open-education/register-modal.liquid %}
