---
layout: default
title: "Open Education"
permalink: /open-education
hero_title: "Equity-Centered Education for Black, Brown, Indigenous and minority ethnic communities <span>taught by Black, Brown, Indigenous and minority ethnic scholars, thinkers and educators.</span>"
hero_bg_color: "bg-brown"
---

{% include components/hero.liquid %}

{% include open-education/register.liquid %}

<div class="section open-education-2021-classes">
  <div class="container">
    <h2 class="title-md">Winter/Spring 2021 Semester</h2>
    <p>All classes will be held at 12pm EST, and will be available online at the end of the semester</p>
    <div class="open-education-2021-classes__calendar">
      {% for series in site.data.openedu_series %}
      {% assign index1 = forloop.index %}
        <div class="cell cell_{{index1}}">
          <div class="bar"></div>
          <h3 class="title-sm">{{ series.name }}</h3>
          <ul>
            {% assign courses = site.data.openedu | where_exp: "item", "item.series == series.name" %}
            {% for course in courses %}
              {% assign id = 'course-' | append: index1 | append: '-' | append: index2 %}
              {% assign instructors = site.data.openedu_instructors | where_exp: "item", "item.name == course.instructor" %}
              {% assign instructor = instructors[0] %}
              <li data-toggle="modal" data-id="{{id}}">
                {% assign index2 = forloop.index %}
                <div class="date">{{ course.date }}</div>
                <div class="info">
                  <div class="title-xs">{{ course.title }}{% if course.vimeo_id %} ▶ {% else %} ✎ {% endif %}</div>
                  <div class="text-sm teacher">{{ course.instructor }}</div>
                </div>
              </li>
              {% include open-education/course-modal.liquid id=id series_name=series.name title=course.title instructor=instructor instructor=instructor description=course.description vimeo_id=course.vimeo_id %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="cell cell_4">
        {% include earth-logo.liquid %}
        <h3 class="title-md">Start now!</h3>
        {% include components/button.liquid data-toggle="modal" data-id="register" text="Register for the Semester" %}
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
  <div class="flex title-sm" style="justify-content:center">
    <div>Created with </div>
    <div>
      <img src="{{ 'images/logos/logo-adidas.png' | asset_url }}" style="max-width:120px">
    </div>
  </div>
</div>


<div class="section open-education-2020-classes">
  <div class="container">
    <h2 class="title-md">More Open Education Classes</h2>
    {% for course in site.data.openeducation.courses limit:3 %}
      {% include open-education/course.liquid %}
    {% endfor %}
    <div class="button-container text-center">
      {% include components/button.liquid href="/open-education/library" text="View all courses" %}
    </div>
  </div>
</div>

{% include open-education/background.liquid %}

{% include footer-donation.liquid %}

{% include open-education/register-modal.liquid %}

<script type="text/javascript">
  const open = (element) => {
    element.classList.add('show-modal');
    setTimeout(() => {
        element.classList.add('animate-modal');
    }, 10);
  };

  const close = (element) => {
    element.classList.remove('animate-modal');
    setTimeout(() => {
        element.classList.remove('show-modal');
    }, 255);
  };

  document.querySelectorAll('[data-toggle="modal"]').forEach(item => {
    item.addEventListener('click', function (e) {
      const modal = document.querySelector(`#${this.dataset.id}`);
      // console.log(modal)
      const closeButtons = modal.querySelectorAll('[data-close]');
      open(modal);
      // if ( this.dataset.id == 'register' ) {
      //   // close the first modal
      // }
      modal.addEventListener('click', function (e) {
        e.stopPropagation();
      });
      closeButtons.forEach(button => {
          button.addEventListener('click', function (e) {
          e.stopPropagation();
          close(modal);
        });
      });

    });
  })
</script>
