---
layout: default
title: "New York Times Sustainability Summit"
date: 2020-01-31 13:00:00
permalink: /study-hall/nyc-summit-2020
---


<p><img src="{{ 'images/studyhall-nyt-2020/banner-detail-pg.png' | asset_url }}"/></p>

<div class="section">

  <p><a class="nyt-btn nyt-livestream nyt-L" href="#live">Watch Now</a></p>
  <!-- <p><a class="nyt-btn nyt-livestream nyt-L">Sold Out!</a></p> -->
  <!-- <p><a class="nyt-btn nyt-livestream nyt-L" href="https://www.universe.com/events/study-hall-climate-positivity-at-scale-tickets-LF6ZCQ/" target="_blank">Get Tickets</a></p> -->
  <p><a class="nyt-btn nyt-program nyt-R" href="#program">Program</a></p>
  <p><a class="nyt-btn nyt-speakers nyt-L" href="#speakers">Speakers</a></p>
  <p><a class="nyt-btn nyt-media nyt-R" href="https://www.dropbox.com/sh/2l3cj6i85hpp0re/AABUbiYtwtwlwom02RlTsf57a?dl=0" target="_blank">Media</a></p>
  <p><a class="nyt-btn nyt-partners nyt-L" href="#partners">Partners</a></p>
  <p><a class="nyt-btn nyt-survey nyt-R" href="https://forms.gle/dBxZBowqdsN1ki2H8" target="_blank">Survey</a></p>

</div>



<div id="live" class="bg-nyt-pink section">

  <div class="container">

    <h2 class="title-md nyt-title">Watch the Full Program</h2>
    <div class="align-center">
      {% include livestream.html %}
    </div>

  </div>
</div>


<div id="program" class="bg-nyt-light-blue section">

  <div class="container">

    <h2 class="title-md nyt-title">Program</h2>

    <h3 class="title-sm">Registration & Refreshment</h3>
    <p class="title-alt-xs">12:00 PM</p>
    <ul class="tight">
      <li>House of Waris, Breathing Room Tea Installation</li>
    </ul>


    <h3 class="title-sm">Opening Sounds</h3>
    <p class="title-alt-xs">12:30 PM</p>
    <ul class="tight">
      <li>Jasmine Solano</li>
    </ul>


    <h3 class="title-sm">Welcome Remarks</h3>
    <p class="title-alt-xs">1:00 PM</p>
    <ul class="tight">
      <li>Land Acknowledgement by Korina Emmerich</li>
      <li>Labor Acknowledgement in advance of Black History Month by Whitney McGuire</li>
      <li>Welcome from Jasmine Solano & Céline Semaan</li>
    </ul>


    <h3 class="title-sm">Prologue</h3>
    <p class="title-alt-xs">1:15 PM</p>
    <p>Providing a thesis and grounding for the day’s programming. Exploring sustainability resilience, spiritual ecology, science and growing global movements.</p>
    <ul class="tight">
      <li>Céline Semaan, Executive Director, Slow Factory Foundation</li>
      <li>Jungwon Kim, Rainforest Alliance</li>
      <li>Ayana Elizabeth Johnson, Ocean Collectiv</li>
    </ul>


    <h3 class="title-sm">Incentivizing Good Behavior: How Sustainable Fashion Can Grow at Scale</h3>
    <p class="title-alt-xs">1:35 PM</p>
    <p>In today's Social and environmental exploitation are often rewarded economically. From wild rubber to organic fibres to carbon itself, we will dicuss initiatives to align environmental, social and economic incentizes to drive change.</p>
    <ul class="tight">
      <li>Matthew Sheffer, Hudson Carbon</li>
      <li>Dominique Drakeford, Sustainable Brooklyn & Fibershed</li>
      <li>Sebastien Kopp, Co-Founder, Veja</li>
      <li>Moderated by: Sasha Samochina, Ops Lab, NASA JPL</li>
    </ul>


    <h3 class="title-sm">Citizen Science & Microplastics</h3>
    <p class="title-alt-xs">2:20 PM</p>
    <p>Working on microplastics in water, and another that is launching a new citizen science project to measure microplastics that travel in the air and end up in our snow.</p>
    <ul class="tight">
      <li>Marco Tedesco, Lamont-Doherty Earth Observatory of Columbia University and NASA GISS</li>
      <li>Laurel Zaima, Educator, Lamont-Doherty Earth Observatory</li>
    </ul>


    <h3 class="title-sm">Transforming the global garment workforce: Improving lives with better work</h3>
    <p class="title-alt-xs">2:35 PM</p>
    <p>The focus of the session will be on highlighting ways that the apparel industry can collaborate to drive improvements in labor across the sector. We will be focusing on specific examples from the Better Work program, which is a joint initiative between the ILO and the IFC, and will include speakers from leading apparel brands.</p>
    <ul class="tight">
      <li>Tara Rangarajan, Better Work, International Labour Organization</li>
      <li>Rick Relinger, Vice President, Corporate Responsibility at PVH Corp</li>
      <li>Moderated by Lilian Liu, Sustainability Strategist, Futerra</li>
    </ul>


    <h3 class="title-sm">Waste-led design: from Landfills as Museums to new production paradigms</h3>
    <p class="title-alt-xs">2:55 PM</p>
    <p>Designing with the end in mind. 5 minute video of Landfills as Museums Pilot Program featuring Slow Factory & Waste Management with Parsons, FIT powered by adidas</p>
    <ul class="tight">
      <li>Jay Kaplan, Environmental Manager, Waste Management</li>
      <li>Ayesha Martin, Director of Global Purpose, adidas</li>
      <li>Céline Semaan, Executive Director, Slow Factory Foundation</li>
      <li>Moderated by Sophia Li, Journalist and Director</li>
    </ul>


    <!-- <h3 class="title-sm">Teen Vogue x Slow Factory Announcement</h3>
    <p class="title-alt-xs">3:30 PM</p>
    <ul class="tight">
      <li>Lindsay Peoples Wagner</li>
      <li>Tahirah Hairston</li>
      <li>Interviewed by Céline Semaan, Executive Director, Slow Factory Foundation</li>
    </ul> -->


    <h3 class="title-sm">Break</h3>
    <p class="title-alt-xs">3:30 PM</p>
    <br>


    <h3 class="title-sm">A Message from the Earth</h3>
    <p class="title-alt-xs">4:05 PM</p>
    <p>Culture is a complex and interwoven web. It drives economic and environmental forces, alongside all the actions that take place in the world. When exploring reaching the Sustainable Development Goals by or before 2030, educating women and girls ranks as #6 in terms of solutions explored to affect positive impact at scale. In this panel we will be exploring the power of education, community and culture when solving issues around sustainability at scale.</p>
    <ul class="tight">
      <li>Video Intro: Katharine Hamnett</li>
      <li>Robin Bell, Earth Institute, Columbia University</li>
      <li>Haatepah Clearbear, Model and Activist</li>
      <li>Mari Copeny, AKA Little Miss Flint, Activist</li>
      <li>Yara Shahidi, Advocate and actor</li>
      <li>Ms. Tina Knowles, Fashion Designer and advocate</li>
      <li>Cameron Russell, Model & Activist</li>
      <li>Bonnie Wright, Director and Activist</li>
      <li>Moderated by Céline Semaan, Executive Director, Slow Factory Foundation</li>
    </ul>


    <h3 class="title-sm">Life Cycle Analysis: a Scientific Approach to Fashion</h3>
    <p class="title-alt-xs">4:55 PM</p>
    <p>Life Cycle Analysis is the new standard of transparency for climate impact.</p>
    <ul class="tight">
      <li>Dan Widmaier, CEO, Bolt Threads</li>
    </ul>


    <h3 class="title-sm">Honesty is leading the way: « We are not sustainable »</h3>
    <p class="title-alt-xs">5:10 PM</p>
    <p>An open conversation on honesty in Sustainable Fashion, how to properly communicate initiatives and products that are made with both the People & Planet in mind.</p>
    <ul class="tight">
      <li>Waris Ahluwalia, House of Waris</li>
      <li>Brendon Babenzien, Co-Founder, Noah Clothing</li>
      <li>Estelle Bailey-Babenzien, Co-Founder Noah Clothing</li>
      <li>Christopher Raeburn, Creative Director, Timberland</li>
      <li>Sofie Schop, Sustainability Director, G-star Raw</li>
      <li>Moderated by Erin Allweiss, Number 29, Sustainability Communications</li>
    </ul>


    <h3 class="title-sm">Scaling up innovations, presenting One X One Incubator</h3>
    <p class="title-alt-xs">5:45 PM</p>
    <p>Science and design goes a long way when introducing innovation at scale. Swarovski and Slow Factory Foundation, supported by the United Nations Office for Partnerships, are supporting three pairs of designers and scientists in implementing positive change within three distinct sectors: circularity, innovativer materials and human-centered design.</p>
    <ul class="tight">
      <li>Theanne Schiros & Telfar Clemens</li>
      <li>Mara Hoffman & Ngozi Okaro</li>
      <li>Phillip Lim & Charlotte McCurdy</li>
      <li>Moderated by Burak Çakmak, Dean at Parsons School of Design and <br>Shaway Yeh, Founder of YEHYEHYEH</li>
    </ul>


    <h3 class="title-sm">Closing Remarks</h3>
    <p class="title-alt-xs">6:25 PM</p>

  </div>

</div>



<div id="speakers" class="section bg-nyt-salmon">
  <div class="container">

    <h2 class="title-md nyt-title nyt-orange">Speakers</h2>

  </div>

    {% include studyhall-thumbs.liquid title_filter="New York Times Center 2020" %}

</div>


<div id="partners" class="section bg-nyt-blue">
  <div class="container">

    <h2 class="title-md nyt-title nyt-pink">Partners</h2>

    <div class="row">
      <img src="/assets/images/logos/logo-adidas-white.png" class="sponsors-thumbs" alt="adidas">
      <img src="/assets/images/logos/logo-gstar-white.png" class="sponsors-thumbs" alt="G-Star Raw">
      <img src="/assets/images/logos/bolt-threads-white.png" class="sponsors-thumbs" alt="Bolt Threads">
      <img src="/assets/images/logos/selina-white.png" class="sponsors-thumbs" alt="Selina Chelsea">
      <img src="/assets/images/logos/hudson-carbon-white.png" class="sponsors-thumbs" alt="Hudson Carbon">
      <img src="/assets/images/logos/noah-white.png" class="sponsors-thumbs" alt="Noah Clothing">
      <img src="/assets/images/logos/waste-management-white.png" class="sponsors-thumbs" alt="Waste Management">
    </div>

    <h2 class="title-md nyt-title nyt-pink">Supporters</h2>
    <div class="row">
      <img src="/assets/images/logos/treaty-white.png" class="sponsors-thumbs" alt="Treaty">
      <img src="/assets/images/logos/tesla-white.png" class="sponsors-thumbs" alt="Tesla">
      <img src="/assets/images/logos/house-of-waris-white.png" class="sponsors-thumbs" alt="House of Waris">
      <img src="/assets/images/logos/1hotel-white.png" class="sponsors-thumbs" alt="1 Hotels Central Park">
      <img src="/assets/images/logos/parsons-white.png" class="sponsors-thumbs" alt="The New School Parsons">
      <img src="/assets/images/logos/riposte-white.png" class="sponsors-thumbs" alt="Riposte Magazine">
      <img src="/assets/images/logos/rainforest-alliance-white.png" class="sponsors-thumbs" alt="Rainforest Alliance">
      <img src="/assets/images/logos/conscious-fashion-campaign-white.png" class="sponsors-thumbs" alt="Conscious Fashion Campaign">
      <img src="/assets/images/logos/ovenly-white.png" class="sponsors-thumbs" alt="Ovenly">
      <img src="/assets/images/logos/juno-white.png" class="sponsors-thumbs" alt="Juno Pandolfi">
      <img src="/assets/images/logos/bloomist-white.png" class="sponsors-thumbs" alt="Bloomist">
      <img src="/assets/images/logos/la-colombe-white.png" class="sponsors-thumbs" alt="La Colombe">
      <img src="/assets/images/logos/raw-rev-white.png" class="sponsors-thumbs" alt="Raw Rev">
      <img src="/assets/images/logos/chadha-ranch-white.png" class="sponsors-thumbs" alt="Chadha Ranch">
      <img src="/assets/images/logos/ever-ever-white.png" class="sponsors-thumbs" alt="Ever & Ever">
      <img src="/assets/images/logos/natura-white.png" class="sponsors-thumbs" alt="Natura">
      <img src="/assets/images/logos/swedish-white.png" class="sponsors-thumbs" alt="Swedish Stockings">
      <img src="/assets/images/logos/fruitguys-white.png" class="sponsors-thumbs" alt="The Fruit Guys">
      <img src="/assets/images/logos/realreal-white.png" class="sponsors-thumbs" alt="The Real Real">
      <img src="/assets/images/logos/oneocean-white.png" class="sponsors-thumbs" alt="One Ocean Beauty">
    </div>

  </div>
</div>


<div class="section">
  <div class="container">
    {% include events-big-menu.liquid %}
  </div>
</div>
