
<div class="section background on-dark-bg" id="background">
  <div class="container">
    <div class="bar"></div>
    <h2 class="title-md">Background</h2>
    <div class="row">
        <div class="half">
            <p class="text-md"><b>Equity-Centered Education</b>: education that acknowledges power structures and historical social context as a key driver of any topic. Focusing on free and open accessibility, ECE initiatives are typically offered without academic admission requirements and distributed online. Open education broadens access to learning and training traditionally offered through formal education systems or corporate programs that are inaccessible to most people.</p>
        </div>
        <div class="half">
          <iframe title="vimeo-player" src="https://player.vimeo.com/video/429400658" width="100%" height="300" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <p class="text-md">In April 2020, Slow Factory hosted a 4-part “crash course” in Sustainability Literacy. We annouced on a Monday, and on Friday 1,500 people tuned in, engaged and learned about sustainability at the intersection of environmental and social justice.</p>
    <div class="text-md">This program has been made possible with the generous support of:</div>
    <p class="flex">
      <img src="{{ 'images/logos/logo-adidas-white.png' | asset_url }}" style="max-width:120px">
    </p>

  </div>
</div>
