<div class="section bg-light-salmon text-center">
  <div class="container">
    <!-- <div class="row">
      <div class="half">
        <p class="title-sm"></p>
        <p></p>
      </div>
      <div class="half"> -->
        {% include components/button.liquid data-toggle="modal" data-id="register" text="Register for the Semester" %}
      <!-- </div> -->
    </div>
  </div>
</div>
