<div class="section open-education-register">
  <div class="container">
    {% include components/button.liquid data-toggle="modal" data-id="register" text="Register for the Semester" %}
  </div>
</div>
