
  <div class="title-alt-lg medium-grey-blue"><b class="dark-grey-blue">Study Hall</b><br>Conferences</div>

  <div class="title-sm list-menu">

    <a class="green" href="/study-hall/nyc-summit-2020">New York Times</a>&nbsp;.
    <span class="salmon">Mexico City</span>&nbsp;.
    <a class="lime" href="/study-hall/london-central-saint-martins-2019">London</a>&nbsp;.
    <span class="fuscia">Paris</span>&nbsp;.
    <a class="light-purple" href="/study-hall/un-summit-2019">United Nations</a>&nbsp;.
    <span class="red">Dubai</span>&nbsp;.
    <a class="medium-grey-blue" href="/study-hall/new-york-fashion-week-2018">New York</a>&nbsp;.
    <span class="gold">Tokyo</span>&nbsp;.
    <span class="blue">Dakar</span>&nbsp;.
    <span class="red">Cape Town</span>&nbsp;.
    <a class="dark-peach" href="/study-hall/los-angeles-2018">Los Angeles</a>&nbsp;.
    <span class="medium-grey-blue">San Francisco</span>&nbsp;.
    <span class="dark-grey-blue">Beirut</span>&nbsp;.
    <span class="mustard">Amsterdam</span>&nbsp;.
<br>
<br>
  </div>
