
<section class="footer-info">
  <div class="container">
    <div class="flex">
      {% include earth-logo.liquid %}
      <h1 class="title-md">Good for the Earth,
        <br>
        Good for the People
      </h1>
    </div>

    <div class="valign-top footer-we-are">
      <h2 class="title-xs">We Are</h2>
      <ul class="title-sm">
        <li><div class="bar"></div>an open education institute</li>
        <li><div class="bar"></div>an independent research lab & new media platform</li>
        <li><div class="bar"></div>a granting & empowerment fund</li>
      </ul>
      <p>catalyzing systemic change and climate positive solutions for regenerative social and environmental justice.</p>
    </div>
    <div class="valign-top footer-we-fund">
      <h2 class="title-xs">We Fund</h2>
      <div>
        <ul class="title-xs">
          <li>🌐 organizations</li>
          <li>💥 changemakers</li>
          <li>❤️ small brands</li>
        </ul>
        <p>in disrupting exploitative human rights and environmental practices.</p>
      </div>
    </div>

  </div>
</section>
<section class="footer-contact">
  <div class="container">
    <div class="row">
      <div class="half">
        <h3 class="title-md">Connect with us</h3>
      </div>
      <div class="half">
        <p>
          <a href="mailto:services@slowfactory.com">By email</a>
        </p>
        <p >
          <a href="https://www.instagram.com/theslowfactory/">On instagram</a>
        </p>
        <p >
          Our newsletter:
        </p>
        {% include newsletter-signup.liquid %}
      </div>
    </div>
    <p class="flex copyright">
      <a href="https://creativecommons.org/licenses/by-nc/3.0/"><img style="max-width:5em;" src="{{ 'images/util/cc-by-nc.svg' | asset_url }}"></a>
      <span style="display:block;">&nbsp;All content is released under a Creative Commons attribution/non-commercial open license</span>
    </p>
  </div>
</section>
