
<section class="footer-info">
  <div class="container">
    <div class="row">
      <div class="flex">
        <svg class="good-earth-logo" width="117" height="114" viewBox="0 0 117 114" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.26675 61.5193L1.04726 59.4123L15.3355 63.1277L15.5549 65.2173L1.26675 61.5193Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M7.63842 43.0435C6.69741 43.053 5.96091 43.4148 5.42893 44.1291C5.13635 44.5298 4.92817 45.0001 4.80439 45.5399C4.57455 46.5761 4.77962 47.5118 5.42846 48.347C6.07731 49.1822 7.19644 49.7733 8.79473 50.1203C10.4019 50.4673 11.6224 50.3531 12.452 49.7735C13.2815 49.1983 13.8001 48.4492 14.0034 47.5306C14.2067 46.6294 14.1083 45.8329 13.7082 45.1455C13.3081 44.4581 12.6995 43.9536 11.8736 43.6365L11.2061 46.61L9.01736 46.1416L10.2152 40.7867L17.2477 42.3003L16.8499 44.0809L15.1542 43.9995C15.6564 44.6521 15.9898 45.209 16.15 45.6746C16.4349 46.4796 16.4579 47.3981 16.2281 48.4342C15.848 50.1365 14.9348 51.4039 13.4885 52.2321C12.0245 53.1038 10.2492 53.3141 8.14925 52.8631C6.02709 52.4077 4.45487 51.4687 3.43262 50.0462C2.41036 48.6236 2.10697 46.9741 2.53132 45.089C2.8982 43.4564 3.61169 42.2327 4.68067 41.4266C5.74521 40.6161 6.92561 40.2757 8.22185 40.4009L7.63842 43.0435Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M22.091 31.3456C22.4829 32.7208 22.1958 34.2184 21.2341 35.8427C20.2724 37.4671 19.0838 38.4517 17.6682 38.7967C15.8799 39.3161 13.9398 38.9825 11.857 37.7958C9.73411 36.5831 8.481 35.0998 8.09761 33.3372C7.70571 31.9621 7.98838 30.4645 8.95449 28.8401C9.9206 27.2158 11.1048 26.2311 12.5204 25.8861C14.2643 25.345 16.1999 25.683 18.3272 26.8957C20.4101 28.0824 21.6632 29.5657 22.091 31.3456ZM19.446 31.8265C19.0678 30.8692 18.2236 30.0168 16.9179 29.2735C15.6167 28.5302 14.449 28.2351 13.4061 28.3796C12.3676 28.5284 11.5691 29.0731 11.0107 30.0138C10.4523 30.9544 10.36 31.9077 10.7382 32.8737C11.1164 33.8397 11.9561 34.6922 13.2618 35.4399C14.5675 36.1832 15.7396 36.4782 16.7825 36.3207C17.821 36.1632 18.6239 35.6141 19.1823 34.6735C19.7363 33.7285 19.8242 32.7795 19.446 31.8265Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M31.8701 21.6583C31.8182 23.086 31.0827 24.4272 29.6635 25.6906C28.2443 26.954 26.8067 27.5385 25.3552 27.4482C23.4865 27.4105 21.7457 26.5196 20.1284 24.7667C18.48 22.979 17.7415 21.1906 17.9218 19.4015C17.9737 17.9781 18.7093 16.6326 20.1284 15.3691C21.5476 14.1057 22.9852 13.5213 24.4367 13.6116C26.2654 13.6145 28.0062 14.5141 29.6546 16.2974C31.2764 18.0503 32.0149 19.8387 31.8701 21.6583ZM29.2022 21.3296C29.1347 20.3067 28.5966 19.2451 27.5791 18.1446C26.5705 17.0529 25.5446 16.4182 24.5102 16.2536C23.4759 16.089 22.544 16.3684 21.7235 17.0959C20.8986 17.8278 20.5177 18.7074 20.5809 19.7389C20.6395 20.7705 21.1776 21.8365 22.1906 22.9326C23.2037 24.033 24.234 24.659 25.2728 24.8192C26.3116 24.9794 27.2435 24.6914 28.0684 23.9639C28.8933 23.2319 29.2697 22.3568 29.2022 21.3296Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M36.8742 5.71919C37.8594 5.60089 38.7872 5.78733 39.6665 6.27848C40.3727 6.67836 40.9679 7.1828 41.4523 7.80485C41.9367 8.42689 42.3278 9.04465 42.6258 9.6712C43.3819 11.255 43.6984 12.7477 43.5754 14.145C43.4041 16.0298 42.4023 17.3973 40.5655 18.2388L35.3303 20.6456L29.6333 8.73261L34.873 6.3258C35.6316 5.99005 36.2972 5.78929 36.8742 5.71919ZM33.0874 9.67004L36.8053 17.4453L39.1479 16.3683C40.3458 15.8189 40.9085 14.8522 40.8273 13.4768C40.7823 12.7239 40.5507 11.9058 40.1282 11.0269C39.55 9.81292 38.9101 8.97336 38.2128 8.50383C37.5155 8.03429 36.5879 8.06115 35.4299 8.59309L33.0874 9.67004Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M50.847 1.62965L60.3945 1.05193L60.5387 3.35856L53.7698 3.7687L53.9591 6.78908L59.8936 6.42749L60.0377 8.70801L54.1033 9.0696L54.4503 14.5751L51.6717 14.7426L50.847 1.62965Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M72.5918 15.1515C71.3809 15.9447 69.8365 16.1418 67.9631 15.7428C66.0896 15.3439 64.7662 14.544 63.9972 13.3346C62.9394 11.825 62.6625 9.91877 63.1707 7.60709C63.6878 5.25188 64.7426 3.62313 66.3307 2.72522C67.5417 1.93642 69.0817 1.73499 70.9595 2.13395C72.8329 2.52857 74.1564 3.33275 74.9254 4.54219C75.9875 6.00386 76.2601 7.91013 75.743 10.2653C75.2347 12.577 74.1844 14.2058 72.5918 15.1515ZM71.3069 12.8369C72.1186 12.1877 72.6813 11.1383 72.9995 9.6886C73.3177 8.24761 73.2411 7.06374 72.7787 6.14133C72.3162 5.21893 71.5389 4.64063 70.4557 4.4108C69.3725 4.18096 68.4184 4.39065 67.5979 5.03985C66.7774 5.68905 66.2103 6.7385 65.892 8.18384C65.5738 9.62918 65.6504 10.8174 66.1262 11.7398C66.602 12.6622 67.3793 13.2361 68.4669 13.466C69.5545 13.6958 70.4997 13.4861 71.3069 12.8369Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M89.3364 10.275C89.6653 10.6926 89.8743 11.1625 89.9725 11.6804C90.0528 12.1069 90.0665 12.5378 90.0092 12.9688C89.9519 13.3997 89.7925 13.8438 89.5355 14.2923C89.2253 14.8366 88.7774 15.294 88.1963 15.6688C87.6152 16.0392 86.9362 16.1573 86.1682 16.0186C86.5859 16.5275 86.795 17.041 86.7955 17.5589C86.796 18.0769 86.5658 18.7343 86.1049 19.5399L85.6618 20.3106C85.3605 20.8332 85.1788 21.2033 85.1169 21.4123C85.0107 21.7432 85.0376 22.0435 85.1932 22.3132L85.0292 22.6006L82.3291 21.1142C82.3999 20.8181 82.4662 20.583 82.5238 20.4132C82.6433 20.0562 82.7983 19.7079 82.9889 19.3683L83.5826 18.2927C83.9903 17.5568 84.1407 16.9952 84.0338 16.6166C83.9269 16.238 83.5315 15.8597 82.852 15.4815L80.4628 14.1646L77.8882 18.6628L75.4989 17.3459L82.0707 5.87597L87.6662 8.95752C88.4523 9.41827 89.012 9.85744 89.3364 10.275ZM83.3166 9.1873L81.5529 12.2703L84.182 13.7177C84.706 14.0045 85.1322 14.1609 85.4652 14.178C86.0511 14.2167 86.5302 13.9117 86.898 13.2672C87.2968 12.5705 87.3406 11.9828 87.0295 11.4956C86.8561 11.2215 86.5185 10.9476 86.0167 10.6694L83.3166 9.1873Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M106.425 26.007L104.584 27.4797L102.047 24.4304L93.4953 31.2797L91.7089 29.1352L100.261 22.2859L97.7098 19.2236L99.5505 17.7509L106.425 26.007Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M96.4538 35.028L108.705 29.6605L109.839 32.1535L105.167 34.1985L107.293 38.867L111.965 36.822L113.1 39.315L100.849 44.6826L99.7143 42.1895L105.185 39.7957L103.059 35.1273L97.5881 37.5211L96.4538 35.028Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M113.624 54.5643L112.614 47.6702L109.791 48.0685L110.716 54.3969L108.408 54.7208L107.483 48.3925L104.07 48.874L105.124 56.0859L102.737 56.4229L101.293 46.5518L114.577 44.6825L115.976 54.236L113.624 54.5643Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M110.822 74.4955L112.449 67.7168L109.674 67.0748L108.18 73.2962L105.911 72.7713L107.401 66.5499L104.044 65.7734L102.342 72.8655L99.9935 72.3233L102.324 62.619L115.385 65.6338L113.13 75.029L110.822 74.4955Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M109.342 83.2533L107.795 85.9707L93.7615 83.6313L95.2416 81.0272L98.083 81.5864L100.489 77.3536L98.5209 75.2571L99.9479 72.7445L109.342 83.2533ZM102.138 79.1108L100.463 82.0547L105.901 83.1255L102.138 79.1108Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M96.1285 99.2678C95.6271 99.4597 95.1078 99.5297 94.5751 99.4736C94.1356 99.4304 93.7094 99.3219 93.3008 99.1481C92.8923 98.9744 92.5058 98.7005 92.1326 98.3308C91.6883 97.8872 91.3637 97.3347 91.1589 96.682C90.9586 96.0293 91.029 95.359 91.379 94.6753C90.7622 94.9283 90.203 94.981 89.6968 94.8377C89.1906 94.6945 88.6087 94.2945 87.9512 93.6335L87.3202 93.0029C86.8893 92.5723 86.5827 92.2984 86.3917 92.181C86.0986 91.9897 85.7967 91.929 85.486 92.0033L85.2505 91.7684L87.4591 89.6427C87.73 89.7905 87.9388 89.9165 88.0942 90.0209C88.4096 90.2339 88.7072 90.4774 88.9872 90.747L89.8757 91.6081C90.4844 92.1995 90.9863 92.4951 91.3903 92.4991C91.7942 92.5032 92.2734 92.2373 92.8277 91.7015L94.7835 89.8197L91.0957 86.1361L93.0515 84.2543L102.453 93.6438L97.8719 98.052C97.2111 98.6706 96.6299 99.0759 96.1285 99.2678ZM98.8712 93.899L96.3475 91.3766L94.1921 93.4501C93.7664 93.8639 93.4959 94.221 93.3808 94.5301C93.1816 95.0744 93.3463 95.6052 93.8706 96.1358C94.4393 96.7055 95.0077 96.9096 95.5669 96.7525C95.8819 96.6652 96.2457 96.4255 96.6581 96.0291L98.8712 93.899Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M81.8815 108.763L80.7167 106.731L84.2168 104.8L78.8018 95.3679L81.2595 94.0123L86.67 103.449L90.1835 101.514L91.3483 103.545L81.8815 108.763Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M74.5277 97.5788L77.7932 110.342L75.0908 111.006L73.8434 106.141L68.7847 107.385L70.032 112.251L67.3296 112.914L64.0641 100.151L66.7666 99.487L68.2233 105.183L73.2821 103.939L71.8253 98.2425L74.5277 97.5788Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M62.1883 97.9083C61.6735 98.0741 61.3008 98.3311 61.0702 98.6751C60.8397 99.0191 60.7203 99.4936 60.7164 100.094L62.288 100.023L62.4148 102.691L59.6135 102.819L59.5003 100.513C59.4822 100.108 59.5173 99.6817 59.6012 99.2377C59.6896 98.7937 59.8757 98.4019 60.1551 98.0666C60.4611 97.7051 60.8249 97.4306 61.2509 97.2344C61.6769 97.0383 61.9698 96.9379 62.1341 96.9291L62.1883 97.9083Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M41.3748 106.452C41.3357 107.374 41.6604 108.114 42.3578 108.675C42.7487 108.984 43.215 109.214 43.7611 109.362C44.8 109.644 45.7675 109.495 46.6547 108.907C47.5419 108.318 48.2067 107.256 48.6446 105.71C49.087 104.156 49.0371 102.955 48.4948 102.111C47.9525 101.267 47.2196 100.719 46.2961 100.467C45.3904 100.22 44.5737 100.273 43.8505 100.621C43.1274 100.975 42.5819 101.545 42.2098 102.333L45.1978 103.149L44.5961 105.265L39.2107 103.794L41.144 96.9935L42.9332 97.4839L42.7572 99.1424C43.4492 98.6848 44.0348 98.3927 44.5185 98.2574C45.3528 98.0261 46.2894 98.0514 47.3327 98.3335C49.0465 98.8022 50.2858 99.7675 51.0462 101.229C51.8554 102.709 51.9725 104.463 51.3929 106.491C50.8089 108.542 49.7672 110.027 48.2634 110.951C46.7596 111.875 45.0598 112.077 43.1684 111.56C41.5257 111.113 40.3221 110.344 39.5576 109.252C38.7931 108.164 38.5124 106.989 38.7109 105.727L41.3748 106.452Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M30.257 91.6586C31.6771 91.3485 33.1866 91.7129 34.79 92.7476C36.3933 93.7822 37.331 95.0003 37.6031 96.4016C38.0354 98.1815 37.5888 100.062 36.2635 102.035C34.9116 104.047 33.3325 105.193 31.5173 105.469C30.0972 105.779 28.5877 105.415 26.9844 104.38C25.381 103.345 24.4433 102.127 24.1712 100.726C23.7168 98.9851 24.1678 97.113 25.5153 95.0967C26.8406 93.1238 28.4241 91.9778 30.257 91.6586ZM30.6013 94.27C29.6073 94.5885 28.6936 95.3684 27.8603 96.6052C27.0315 97.8377 26.6641 98.9653 26.7583 99.9925C26.8525 101.02 27.3637 101.829 28.2875 102.429C29.2158 103.029 30.1791 103.172 31.1819 102.853C32.1848 102.535 33.1029 101.763 33.9318 100.527C34.7606 99.2897 35.128 98.1577 35.0249 97.1262C34.9219 96.099 34.4062 95.2855 33.4779 94.6856C32.5586 94.0943 31.5952 93.9514 30.6013 94.27Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M20.9303 81.5525C22.3774 81.6819 23.7097 82.473 24.914 83.9346C26.1226 85.3962 26.6388 86.8365 26.4671 88.2513C26.3268 90.0795 25.3252 91.7344 23.4535 93.2201C21.5464 94.7364 19.6828 95.3603 17.8716 95.0832C16.4245 94.9538 15.0966 94.1626 13.888 92.701C12.6793 91.2395 12.1631 89.7991 12.3349 88.3844C12.4397 86.5909 13.4457 84.9361 15.3573 83.4198C17.2245 81.9341 19.0837 81.3102 20.9303 81.5525ZM20.449 84.1471C19.4015 84.1566 18.2923 84.6276 17.117 85.56C15.9461 86.488 15.2501 87.4549 15.0203 88.4606C14.7904 89.4662 15.0265 90.3888 15.7286 91.2371C16.4263 92.0853 17.3055 92.5068 18.3574 92.5016C19.4094 92.5008 20.523 92.0342 21.6983 91.0974C22.8737 90.165 23.5696 89.1938 23.7906 88.1838C24.0115 87.1738 23.771 86.2468 23.0733 85.3986C22.3712 84.5547 21.4965 84.1375 20.449 84.1471Z" fill="#3FB0A2" stroke="#3FB0A2"/>
          <path d="M4.97736 75.7738C4.9143 74.8032 5.15315 73.902 5.70276 73.0701C6.146 72.3995 6.69588 71.8462 7.35683 71.4061C8.01778 70.9659 8.66995 70.6172 9.3222 70.3598C10.9772 69.7056 12.5128 69.478 13.9289 69.6772C15.8423 69.9499 17.1749 71.0065 17.9312 72.8515L20.0934 78.1123L7.64742 83.0278L5.48525 77.767C5.1827 77.0055 5.0134 76.3396 4.97736 75.7738ZM8.78947 79.7014L16.9137 76.4913L15.9439 74.1372C15.45 72.9318 14.4996 72.3319 13.0925 72.333C12.3202 72.3336 11.477 72.5171 10.5585 72.8791C9.29397 73.3807 8.3979 73.9603 7.88363 74.618C7.36492 75.2757 7.34358 76.1854 7.82406 77.3473L8.78947 79.7014Z" fill="#3FB0A2" stroke="#3FB0A2"/>
        </svg>
        <h1 class="title-md">Good for the Earth,
          <br>
          Good for the People
        </h1>
      </div>

     </div>
      <div class="row valign-top footer-we-are">
        <h2 class="title-xs">We Are</h2>
        <ul class="title-sm">
          <li><div class="bar"></div>an open education institute</li>
          <li><div class="bar"></div>an independent research lab & new media platform</li>
          <li><div class="bar"></div>a granting & empowerment fund</li>
        </ul>
        <p>catalyzing systemic change and climate positive solutions for regenerative social and environmental justice.</p>
      </div>
      <div class="row valign-top footer-we-fund">
        <h2 class="title-xs">We Fund</h2>
        <div>
          <ul class="title-xs">
            <li>🌐 organizations</li>
            <li>💥 changemakers</li>
            <li>❤️ small brands</li>
          </ul>
          <p>in disrupting exploitative human rights and environmental practices.</p>
        </div>
    </div>
  </div>
</section>
<section class="footer-contact">
  <div class="container">
    <div class="row">
      <div class="content">
        <p class="title-md">Connect with us</p>
        <div>
          <p>
            <a href="mailto:services@slowfactory.com">By email</a>
          </p>
          <p >
            <a href="https://www.instagram.com/theslowfactory/">On instagram</a>
          </p>
          <p >
            Our newsletter:
          </p>
          {% include newsletter-signup.liquid %}
        </div>
      </div>
      <p class="flex copyright">
        <a href="https://creativecommons.org/licenses/by-nc/3.0/"><img style="max-width:5em;" src="{{ 'images/util/cc-by-nc.svg' | asset_url }}"></a>
        <span style="display:block;">&nbsp;All content is released under a Creative Commons attribution/non-commercial open license</span>
      </p>
    </div>
  </div>
</section>
