
<div class="footer section slash">
  <div class="container">

    <h1 class="title-xl">Good for the Earth,
      <br>
      Good for the People
    </h1>

      <p class="title-md">
        Slow Factory Foundation is dedicated to improving <a href="/sustainability-literacy">sustainability literacy</a> in fashion.
      </p>
      <p class="title-md">
        Using a holistic, human-centered approach, we bridge science, human rights, technology, fashion & culture to develop products, resources and certifications for industry and consumers alike.
      </p>
  </div>



  <div class="section">
    <div class="container">

      <p class="title-md">Connect with us:</p>

      <p class="title-sm">
        <a href="mailto:services@slowfactory.com">By email</a>
      </p>

      <p class="title-sm">
        <a href="https://www.instagram.com/theslowfactory/">On instagram</a>
      </p>

      <p class="title-sm">
        Our newsletter:
      </p>

      {% include newsletter-signup.liquid %}

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <p class="flex">
      <a href="https://creativecommons.org/licenses/by-nc/3.0/"><img style="max-width:5em;" src="{{ 'images/util/cc-by-nc.svg' | asset_url }}"></a>
      <span style="display:block;">&nbsp;All content is released under a Creative Commons attribution/non-commercial open license</span>
    </p>

  </div>
</div>
