
{% include menu-mobile.liquid %}

<div class="" style="position:fixed; width:100%;">

  <div class="container">

    <div class="header">
      <div class="burger-menu js-show-mobile-menu burger-menu-placement">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="flex" style="max-width:90%">
        <a href="/" class="sf-logo">
          <!-- <div>
            Slow&nbsp;Factory
            <div class="dark-grey">Foundation</div>
          </div> -->
          <img src="{{ 'images/logos/slow-factory.svg' | asset_url }}" alt="Slow Factory Foundation" class="slow-factory-logo">

          
        </a>
        {% if page.name == 'index.html' %}
        <div class="title-lg on-dark-bg">
          &nbsp;/
        </div>
        {% else %}
        <div class="title-lg">
          &nbsp;/
        </div>
        <div class="title-sm" style="margin-left:.7em">
          {% if page.title == 'Open Education' %}
            <img src="{{ 'images/logos/open-education.svg' | asset_url }}" alt="Open Education" class="open-education-logo">
          {% else %}
          {{ page.title }}
          {% endif %}
        </div>
        {% endif %}
      </div>

    </div>
  </div>

</div>
