
{% include menu-mobile.liquid %}

<div class="" style="position:fixed;width:100%;">

  <div class="container">

    <div class="header">
      <img src="{{ 'images/logo-SlowFactory-S-mark.png' | asset_url }}" class="sf-logo-S-mark">

      <div class="burger-menu js-show-mobile-menu burger-menu-placement">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="flex" style="max-width:90%">
        <a href="/" class="title-sm" style="text-decoration: none;">
          <div>
            Slow&nbsp;Factory
            <div class="dark-grey">Foundation</div>
          </div>
        </a>
        {% if page.name == 'index.html' %}
        <div class="title-lg on-dark-bg">
          &nbsp;/
        </div>
        {% else %}
        <div class="title-lg">
          &nbsp;/
        </div>
        <div class="title-sm" style="margin-left:.7em">
          {{ page.title }}
        </div>
        {% endif %}
      </div>

    </div>
  </div>

</div>
