{% unless newsletter_button_text %}
  {% assign newsletter_button_text = 'Stay Informed' %}
{% endunless %}

{% unless list_id %}
  {% assign list_id = 'a6ef69f2c6' %}
{% endunless %}

  <form method="post" class="newsletter-signup-form" target="_blank" action="https://slowfactory.us7.list-manage.com/subscribe/post?u=2572360f05297ce3376c6d5a5&amp;id={{ list_id }}">

    <label class="title-sm" style="display: inline-block;" for="EMAIL">Your Email:</label> &nbsp;
    <input class="title-sm" style="border:0; border-bottom: 5px solid #000; display: inline-block; padding:.5em 0 0 0; width: 15em" type="email" value="" name="EMAIL" required="true"> &nbsp;
    <input class="newsletter-signup-form__submit button" style="display: inline-block;" type="submit" value="{{ newsletter_button_text }}" name="subscribe">

  </form>
