{% unless newsletter_button_text %}
  {% assign newsletter_button_text = 'Yes!' %}
{% endunless %}

{% unless list_id %}
  {% assign list_id = 'a6ef69f2c6' %}
{% endunless %}

<form method="post" class="newsletter-signup-form row-xs" target="_blank" action="https://slowfactory.us7.list-manage.com/subscribe/post?u=2572360f05297ce3376c6d5a5&amp;id={{ list_id }}" style="justify-content: space-between;">
  <input class="two-thirds email button btn--inline" type="email" value="" name="EMAIL" placeholder="Enter your Email" required="true">
  <input class="newsletter-signup-form__submit quarter button btn--lg btn--grey-blue btn--inline" type="submit" value="Yes!" name="subscribe">
</form>

{% assign list_id = false %}
{% assign newsletter_button_text = false %}
