<div class="section open-education-register">
  <div class="container">
    <a class="button" href="https://docs.google.com/forms/d/1HVHR6hWmqw8ncmUnlS40nqIpIDUXeFCod_meZcXREyg/viewform?edit_requested=true">Register for the class</a>
  </div>
</div>