.card-stack {

  width: 80%;
  height: 550px;
  -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
   box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5); 
   background: white;

}


.slick-track {
    width: 100% !important;
    transform: translate3d(0px, 0px, 0px) !important;
    padding-top: 2px;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.slick-list {
position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}



.slick-slide {
 width: 100%;
 margin: 4%;

}

.slick-slider {
 position: relative;

}

.slick-initialized {
    
}


.card-number {
  position: absolute;
  bottom:0px;
}

.row {
margin:10px !important;
width: 97% !important;
}

.slick-arrow {
  z-index: 10001;
  outline: none;
  font-size: 0;
  line-height: 0;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;

}
.slick-prev:before, .slick-next:before {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #3494BA;
  border-radius: 50%;
  cursor: pointer;
  font-size: 33px;
  line-height: 1.5;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   
}
.slick-prev:before {
  content: '<';
  right: 20px;
    top: 200px;
 
}
.slick-next:before {
  content: '>';
  left: 807px;
  top: -6427px;

}


.card-text {
  font-size: 15px;
}

.source {
  font-size: 12px;
  font-style: italic;
}
.transformThis {
  animation: scaleDown 500ms;
}

.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}

.graphic {
  width: 80%;
}

.title-card {
  margin-bottom: 0.3em !important;
}

.card-number {
  position: absolute;
  bottom:0px;
}

.p {
margin: 0 0 .6em;
}


@media (--viewport-xs-only) {

  .title-md, .title-alt-md {
    font-size: 1.2em;
  }
  .scale {
    display: none;
  }
  .graphic {
    width: 95%;
  }
  .source {
    font-size: 10px;
    font-style: italic;
  }
  .p {
    font-size: 13px;
}


}
