.card-stack {
  /* height: 550px; */
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  background: white;
  position: relative;
}
/* .card-stack::before {
  display: block;
  position: relative;
  top: 1em;
  right: 1em;
  width: 100%;
  height: 100%;
  background: white;
} */

.card {
  padding: 2em 1em;
}

.card-number {
  position: absolute;
  bottom: 0px;
}

.card-text {
  font-size: 15px;
}

.source {
  font-size: 12px;
  font-style: italic;
}
.transformThis {
  animation: scaleDown 500ms;
}

.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}

.graphic {
  display: initial !important;
  width: 80%;
}

.title-card {
  margin-bottom: 0.3em !important;
}

.card-number {
  position: absolute;
}




@media (--viewport-xs-only) {

  .drone {
    height: 600px;
  }

  .card-stack {
    width: 75%;
  }

  .card {
    padding: 2em 1em;
  }

  .block {
    padding: 5em 1em 0em 1em;
  }

  .scale {
    display: none !important;
  }

  .title-md, .title-alt-md {
    font-size: 1.2em;
  }

  .scale {
    display: none;
  }

  .graphic {
    width: 100%;
  }

  .source {
    font-size: 10px;
    font-style: italic;
  }

}


/* Override Slick default theme
*/
.slick-dots {
  bottom: -40px !important;
  color: white !important;
}
.slick-dots li button:before {
  font-size: 16px !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
}
.slick-prev:before, .slick-next:before {
  opacity: .9 !important;
  font-size: 40px !important;
}
.slick-prev:hover:before, .slick-next:hover:before {
  opacity: 1 !important;
}
.slick-prev {
  left: -45px !important;
}
