.card-stack {
  /* height: 550px; */
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  background: white;
  position: relative;
}

.card {
  padding: 2em 1em;
}

.card-number {
  position: absolute;
  bottom: 0px;
}

.slick-arrow {
  z-index: 10001;
  outline: none;
  font-size: 0;
  line-height: 0;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:before, .slick-next:before {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #3494BA;
  border-radius: 50%;
  cursor: pointer;
  font-size: 33px;
  line-height: 1.5;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
  content: '<';
  left: -20px;
  top:260px;

}
.slick-next:before {
  content: '>';
  left: 835px;
  top:260px;

}

.card-text {
  font-size: 15px;
}

.source {
  font-size: 12px;
  font-style: italic;
}
.transformThis {
  animation: scaleDown 500ms;
}

.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}

.graphic {
  display: initial !important;
  width: 80%;
}

.title-card {
  margin-bottom: 0.3em !important;
}

.card-number {
  position: absolute;

}




@media (--viewport-xs-only) {

.drone {
  height:600px;
}


.card-stack {   
  width:75%;
}

.card {
  padding: 2em 1em 2em 1em;
}

.block {
  padding: 5em 1em 0em 1em;
}

.scale {
    display: none !important;
}

.slick-next:before {
  content: '>';
  left: 405px;

}

.title-md, .title-alt-md {
    font-size: 1.2em;
  }

.scale {
    display: none;
  }

.graphic {
    width: 100%;
  }
  
.source {
    font-size: 10px;
    font-style: italic;
  }


}

