.card-container {

    background-color: #EBBD48;
    height: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
   

.card-stack {
        max-width: 90%;
        margin: 0px auto;
        position: relative;



        .buttons {

            position: absolute;
            border-radius: 50%;
            position: absolute;
            background-color: #3494BA;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            left: 0;
            top: 230px;
            color: #ffffff;
            text-align: center;
            line-height: 31px;
            text-decoration: none;
            font-size: 22px;
            z-index: 100;
            outline: none;
            transition: all 0.2s ease;

              &:hover {
                transform: scale(1.3,1.3);
            }
          }


        .prev {
            left: 0px;
            right: auto;
        }

        .next {
            left: auto;
            right: 13px;
        }

    

 

 .card-list {



    li {
                transition: all 100ms ease-in-out;
                border-radius: 2px;
                list-style: none;
                position: absolute;
                height: 500px;
                box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
                left: 0;
                right: 0;
                margin: 0 auto;
                padding-top: 20px;
                text-align: left;
                background-size:cover;
                background-color: #ffffff;


                &:nth-child(1) {
                    right: 5px;
                    top: 26px;
                    /* animation: scaleCard 100ms; */
                }
                &:nth-child(2) {
                    right: 9px;
                    top: 23px;
                }
                &:nth-child(3) {
                    right: 13px;
                    top: 20px;
                }
                &:nth-child(4) {
                    right: 17px;
                    top: 17px;
                }
                &:nth-child(5) {
                    right: 21px;
                    top: 14px;
                }
                &:nth-child(6) {
                    right: 25px;
                    top: 11px;
                }
                &:nth-child(7) {
                    right: 29px;
                    top: 8px;
                }
                &:nth-child(8) {
                    right: 33px;
                    top: 5px;
                }
             }
          }

      }
  }





.card-text {
    font-size: 15px;
}

.source {
    font-size: 12px;
    font-style: italic;
}
.transformThis {
    animation: scaleDown 500ms;
}

.transformPrev {
    animation: scaleUp 100ms;
    display: none;
}

.graphic {

    width: 80%;

}

.title-card {

    margin-bottom: 0.3em !important;
}

.card-number {

    position: absolute;
    bottom:0px;
}


@media (--viewport-xs-only) {

  .title-md, .title-alt-md {
    font-size: 1.2em;
  }

  .scale {

    display: none;
  }

  .graphic {

    width: 100%;

}

.source {
    font-size: 10px;
    font-style: italic;
}

}
