.card-container {
   
    background-color: #fff;
    height: 650px;
   

  .card-stack {
        max-width: 80%;   
        margin: 0 auto;
        position: relative;
  

      .buttons {
            
            position: absolute;
            border-radius: 50%;
            width: 55px;
            height: 35px;
            left: 0;
            top: 230px;
            color: #000000;
            text-align: center;
            line-height: 35px;
            text-decoration: none;
            font-size: 22px;
            z-index: 100;
            outline: none;
            transition:all 0.2s ease; 

              &:hover {
                transform: scale(1.3,1.3);
            }        
          }


.prev {

    left: 15px;
    right: auto;
}

.next {

    left: auto;
    right: 15px;
}
 
 .carousel .buttons:hover {

            color: #C01313 ;
            background: #fff;
}         
  

 .card-list {



    li {
                transition: all 100ms ease-in-out;
                border-radius: 2px;
                list-style: none;
                position: absolute;
                height: 500px;
                -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
                box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);    
                left: 0;
                right: 0;
                margin: 0 auto;
                padding-top: 20px;
                text-align: left;
                background-size:cover;
                background-color: #ffffff;

                &:nth-child(1) {
                    top: 80px;
                    width: 100%;
                    /* animation: scaleCard 100ms; */
                }
                &:nth-child(2) {
                    top: 70px;
                    width: 99%;
                }
                &:nth-child(3) {
                    top: 60px;
                    width: 98%
                }
                &:nth-child(4) {
                    top: 50px;
                    width: 97%;
                }
                &:nth-child(5) {
                    top: 40px;
                    width: 96%;
                }
                  &:nth-child(6) {
                    top: 30px;
                    width: 95%;
                }

                &:nth-child(7) {
                    top: 20px;
                    width: 94%;
                }
            }

          }

        &:hover {
        > .buttons.prev {
          display: block;
          animation: bounceInLeft 200ms; 
        }

        > .buttons.next {
          display: block;
          animation: bounceInRight 200ms; 
        }
      }
 
   }

  }

.card-text {
    font-size: 16px;
}
.transformThis {
    animation: scaleDown 500ms;
}

.transformPrev {
    animation: scaleUp 100ms;
    display: none;
}