.card-container {
   
    background-color: #EBBD48;
    height: 560px;
    padding:5% 5% 5% 5%;
   

  .card-stack {
        max-width: 100%;   
        margin: 0 auto;
        position: relative;
  

      .buttons {
            
            position: absolute;
            border-radius: 50%;
            position: absolute;
            background-color: #3494BA;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            left: 0;
            top: 230px;
            color: #ffffff;
            text-align: center;
            line-height: 31px;
            text-decoration: none;
            font-size: 22px;
            z-index: 100;
            outline: none;
            transition: all 0.2s ease; 

              &:hover {
                transform: scale(1.3,1.3);
            }        
          }


.prev {

    left: 15px;
    right: auto;
}

.next {

    left: auto;
    right: 15px;
}
 
 .carousel .buttons:hover {

            color: #C01313 ;
            background: #fff;
}         
  

 .card-list {



    li {
                transition: all 100ms ease-in-out;
                border-radius: 2px;
                list-style: none;
                position: absolute;
                height: 500px;
                -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
                box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);    
                left: 0;
                right: 0;
                margin: 0 auto;
                padding-top: 20px;
                text-align: left;
                background-size:cover;
                background-color: #ffffff;


                &:nth-child(1) {
                    right: 10px;
                    
                    /* animation: scaleCard 100ms; */
                }
                &:nth-child(2) {
                    right: 20px;
                    
                }
                &:nth-child(3) {
                    right: 30px;
                   
                }
                &:nth-child(4) {
                    right: 40px;
                    
                }
                &:nth-child(5) {
                    right: 50px;
                    
                }
                  &:nth-child(6) {
                    right: 60px;
                   
                }

                &:nth-child(7) {
                    right: 70px;
                    
                }

                 &:nth-child(8) {
                    right: 80px;
                 
                }
            }

          }

        &:hover {
        > .buttons.prev {
          display: block;
          animation: bounceInLeft 200ms; 
        }

        > .buttons.next {
          display: block;
          animation: bounceInRight 200ms; 
        }
      }
 
   }

  }

.card-text {
    font-size: 16px;
}

.source {
    font-size: 14px;
    font-style: italic;
}
.transformThis {
    animation: scaleDown 500ms;
}

.transformPrev {
    animation: scaleUp 100ms;
    display: none;
}

.graphic {

    width: 80%;

}

.card-number {

    position: absolute;
    bottom:0px;
}
video {
  pointer-events: none;
}


@media (--viewport-xs-only) {
  .title-md, .title-alt-md {
    font-size: 1.2em;
  }

  .scale {

    display: none;
  }

}