
.card-stack {
  background: white;
}
.card-number {
  position: absolute;
  bottom:0px;
}

.slick-arrow {
  z-index: 10001;
  outline: none;
  font-size: 0;
  line-height: 0;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:before, .slick-next:before {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #3494BA;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
  content: '<';
  left: -25px;
}
.slick-next:before {
  content: '>';
  right: -25px;
}


.card-text {
  font-size: 15px;
}

.source {
  font-size: 12px;
  font-style: italic;
}
.transformThis {
  animation: scaleDown 500ms;
}

.transformPrev {
  animation: scaleUp 100ms;
  display: none;
}

.graphic {
  width: 80%;
}

.title-card {
  margin-bottom: 0.3em !important;
}

.card-number {
  position: absolute;
  bottom:0px;
}


@media (--viewport-xs-only) {

  .title-md, .title-alt-md {
    font-size: 1.2em;
  }
  .scale {
    display: none;
  }
  .graphic {
    width: 100%;
  }
  .source {
    font-size: 10px;
    font-style: italic;
  }

}
