
/* Helvetica redesign */

.bg-dark { color: white; }
.dark-grey { color: var(--dark-grey); }
.green { color: var(--green); }
.light-green { color: var(--light-green); }
.orange { color: var(--orange); }
.red { color: var(--red); }
.purple { color: var(--purple); }


/* NYT 2020  */
.nyt-blue { color: var(--nyt-blue); }
.nyt-light-blue { color: var(--nyt-light-blue); }
.nyt-pink { color: var(--nyt-pink); }
.nyt-orange { color: var(--nyt-orange); }
.nyt-green { color: var(--nyt-green); }
.nyt-brown { color: var(--nyt-brown); }
.nyt-beige { color: var(--nyt-beige); }

.bg-nyt-blue { background: var(--nyt-blue); }
.bg-nyt-light-blue { background: var(--nyt-light-blue); }
.bg-nyt-pink { background: var(--nyt-pink); }
.bg-nyt-orange { background: var(--nyt-orange); }
.bg-nyt-salmon { background: var(--nyt-salmon); }
.bg-nyt-green { background: var(--nyt-green); }
.bg-nyt-brown { background: var(--nyt-brown); }
.bg-nyt-beige { background: var(--nyt-beige); }


.bg-mustard { background: var(--mustard); }
.bg-very-light-grey { background: var(--very-light-grey); }
.bg-light-grey { background: var(--light-grey); }
.bg-light-grey-blue { background: var(--light-grey-blue); }
.bg-dark-grey-blue { background: var(--dark-grey-blue); }
.bg-light-peach { background: var(--light-peach); }
.bg-dark-peach { background: var(--dark-peach); }

.color-dark-grey-blue { color: var(--dark-grey-blue); }

.salmon { color: var(--salmon); }
.lime { color: var(--lime); }
.light-grey { color: var(--light-grey); }
.light-grey-blue { color: var(--light-grey-blue); }
.medium-grey-blue { color: var(--medium-grey-blue); }
.dark-grey-blue { color: var(--dark-grey-blue); }
.light-peach { color: var(--light-peach); }
.dark-peach { color: var(--dark-peach); }
.fuscia { color: var(--fuscia); }
.blue { color: var(--blue); }
.light-purple { color: var(--light-purple); }
.gold { color: var(--gold); }
.yellow { color: var(--yellow); }
.mustard { color: var(--mustard); }
