
/* Helvetica redesign */

.on-dark-bg { color: white; }
.dark-grey { color: var(--dark-grey); }
.green { color: var(--green); }
.light-green { color: var(--light-green); }
.orange { color: var(--orange); }
.red { color: var(--red); }
.purple { color: var(--purple); }
.yellow { color: var(--yellow); }

.bg-black { background: var(--black); }
.bg-green { background: var(--green); }
.bg-light-green { background: var(--light-green); }
.bg-orange { background: var(--orange); }
.bg-red { background: var(--red); }
.bg-purple { background: var(--purple); }
.bg-yellow { background: var(--yellow); }
/* .bg- { background: var(--); } */


/* NYT 2020  */
.nyt-blue { color: var(--nyt-blue); }
.nyt-light-blue { color: var(--nyt-light-blue); }
.nyt-pink { color: var(--nyt-pink); }
.nyt-orange { color: var(--nyt-orange); }
.nyt-green { color: var(--nyt-green); }
.nyt-brown { color: var(--nyt-brown); }
.nyt-beige { color: var(--nyt-beige); }

.bg-nyt-blue { background: var(--nyt-blue); }
.bg-nyt-light-blue { background: var(--nyt-light-blue); }
.bg-nyt-pink { background: var(--nyt-pink); }
.bg-nyt-orange { background: var(--nyt-orange); }
.bg-nyt-salmon { background: var(--nyt-salmon); }
.bg-nyt-green { background: var(--nyt-green); }
.bg-nyt-brown { background: var(--nyt-brown); }
.bg-nyt-beige { background: var(--nyt-beige); }


/* Original Study Hall colours: mostly for cities events-big-menu */
.salmon { color: var(--salmon); }
.lime { color: var(--lime); }
.light-grey { color: var(--light-grey); }
.light-grey-blue { color: var(--light-grey-blue); }
.medium-grey-blue { color: var(--medium-grey-blue); }
.dark-grey-blue { color: var(--dark-grey-blue); }
.light-peach { color: var(--light-peach); }
.dark-peach { color: var(--dark-peach); }
.fuscia { color: var(--fuscia); }
.blue { color: var(--blue); }
.light-purple { color: var(--light-purple); }
.gold { color: var(--gold); }
.mustard { color: var(--mustard); }
