.open-education-notification{
  background-color: #4F4F4F;
  border-radius: 20px;
  padding: 64px;
  color:white;
}

.open-education-notification input{
  color: white;
  border-bottom-color: white;
}

.open-education-notification input[type=submit] {
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 16px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 16px;
}

.email-education-background-section{
  background-color: #F4F4F4;
}