
.wm-timeline-block {
  padding-top: 1em;
  padding-bottom: 1em;
}
.wm-timeline-block .title-xs {
  color: var(--green);
}
.wm-timeline-block img {
  width: 100px;
}

.wm-logos {
  max-width: 140px;
}

.wm-advisor {
  margin-bottom: 3em;
}
.wm-advisor-name {
  @extend .title-sm;
}
