
/* Footer */
.footer-info{
  background-color: #F3F6F9;
}
.footer-info .flex{
  align-items: flex-start;
}
.footer-info h1{
  margin-bottom:64px;
  border-left:2px solid black;
  padding-left: 32px;
  margin-left: 32px;
}
.footer-info h2{
  margin-bottom: 16px;
}
.footer-info .bar{
  height:6px;
  background-color: black;
  width: 60%;
  margin-bottom:16px;
}
.footer-we-are{
  background-color: #C9E3E2;
  color: black;
  padding: 16px;
}

@media (--viewport-md) {
  .footer-we-are{
    padding: 0;
  }
  .footer-we-are h2{
    padding: 30px 30px 0;
  }
  .footer-we-are p{
    padding: 0 30px 30px;
  }
}
.footer-info ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-we-are ul{
  /* display: flex; */
  /* justify-content: space-between; */
  /* margin-bottom:32px; */
}
.footer-we-are li{
  /* width: 30%; */
}
.footer-we-fund h2{
  padding-right: 32px;
}
.footer-we-fund{
  display: flex;
  padding-top: 32px;
}
.footer-we-fund li{
  display: inline;
}
.footer-we-fund p{
  width: 100%;
  display: block;
  margin-top: 16px;
}
.footer-contact{
  padding-bottom: 200px;
  font-size: 19px;
  font-weight: bold;
}
.footer-contact p{
  margin-bottom: 8px;
}
.footer-contact .content{
  width: 100%;
}
.footer-contact .title-md{
  margin: 0;
  padding: 0 32px 0 0;
}
.footer-contact label,
.footer-contact input{
  font-size: 19px !important;
}
.footer-contact .email-field {
  width: 40%;
}
.footer-contact  .copyright{
  padding: 32px 0 0 ;
  margin: 0;
  font-size:14px;
  font-weight: normal;
}
