
.brands-form {
  label {
    width: 5em;
  }
  input {
    width: 13em;
  }
}
label {
  display: inline-block;
  @extend .title-sm;
}
input, select {
  display: inline-block;
  font-family: "Helvetica";
  /* font-size: 1em; */
  color: var(--text-color);
  background: transparent;
  /* margin: 0.5em 0 1.5em; */
  padding: 0.75em;
  box-sizing: border-box;
  border: 0;
  border-bottom: 5px solid #000;
  padding: .5em 0 0 0;
  @extend .title-sm;
}
input[type=submit] {
  -webkit-appearance: none;
}
.button, .btn {
  cursor: pointer;
  display: block;
  padding: .6em;
  border: 3px solid var(--light-grey);
  background: white;
  border-radius: 0;

  @extend .title-sm;
}
.btn.btn--lg {
  font-size: 2em;
  padding: .35em .7em .2em;
}
.btn--inline {
  display: inline-block;
  min-width: 5em;
  text-align: center;
}
.btn-sizes {
  width: auto;
  display: inline-block;
  padding: 0.5em .6em .3em;
}
.btn.active {
  border-color: var(--text-color);
}

.btn--yellow-pill {
  background: var(--yellow);
  border-radius: 1.5em / 50%;
  padding: 1em;
  display: block;
  text-decoration: none;

  @extend .title-xs;
}
.btn--inline {
  display: inline-block;
}
.btn--pink {
  border: 3px solid var(--dark-peach);
  background: var(--light-peach);
}
.btn--grey-blue {
  color: white;
  background: var(--dark-grey-blue);
}
