
.brands-form {
  label {
    width: 5em;
  }
  input {
    width: 17em;
  }
}
label {
  display: inline-block;
  @extend .title-sm;
}
input, select {
  display: inline-block;
  font-family: "Helvetica";
  color: var(--text-color);
  background: transparent;
  padding: 0.75em;
  box-sizing: border-box;
  border: 0;
  border-bottom: 5px solid #000;
  padding: 0;

  @extend .title-sm;
}
input[type=submit] {
  -webkit-appearance: none;
}
.button, .btn {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: .6em;
  border: 3px solid black;
  line-height: 1em;
  border-radius: 1.5em / 50%;
  padding: .75em 1em;
  text-decoration: none;

  @extend .title-sm;

}

.button:hover, .btn:hover {
  text-decoration: none;
}


/* .btn--jsmotiongradient {
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%); --mouse-x:69.601; --mouse-y:81.25;
  background-image: radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), yellow, green);
} */
.btn.btn--lg {
  font-size: 2em;
  padding: .35em .7em .2em;
}
.btn--inline {
  display: inline-block;
  min-width: 5em;
  text-align: center;
}
.btn-sizes {
  width: auto;
  display: inline-block;
  padding: 0.5em .6em .3em;
}
.btn.active {
  border-color: var(--text-color);
}

.btn--inline {
  display: inline-block;
}
.btn--pink {
  border: 3px solid var(--dark-peach);
  background: var(--light-peach);
}
.btn--grey-blue {
  color: white;
  background: var(--dark-grey-blue);
}
