/*@custom-media --viewport-xs-only screen and (max-width: 767px);
@custom-media --viewport-md screen and (min-width: 768px);
@custom-media --viewport-lg screen and (min-width: 1080px);
@media (--viewport-xs-only) {
@media (--viewport-md) {
}*/

.main-content {
  padding-top: 120px;
  /* padding-top: calc(var(--unit) *3);; */
}

.container,
.container-md,
.container-sm {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--unit);
  padding-right: var(--unit);
}
@media (--viewport-md) {
  .container {
    max-width: 1000px;
    margin: auto;
  }
  .container-md {
    max-width: 800px;
    margin: auto;
  }
  .container-sm {
    max-width: 600px;
    margin: auto;
  }
}

section,
.section {
  padding-top: calc(var(--unit) * 2);
  padding-bottom: calc(var(--unit) * 2);
}

.section-lg {
  padding-top: calc(var(--unit) * 3);
  padding-bottom: calc(var(--unit) * 3);
}
.section-md {
  padding-top: var(--unit);
  padding-bottom: var(--unit);
}
.section-sm {
  padding-top: calc(var(--unit) / 2);
  padding-bottom: calc(var(--unit) / 2);
}

.flex {
  display: flex;
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
}

.row-xs {
  margin-left: calc(-1 * var(--unit) / 2);
  margin-right: calc(-1 * var(--unit) / 2);
}
.row-xs .shrink,
.row-xs .grow,
.row-xs .half,
.row-xs .third,
.row-xs .quarter,
.row-xs .two-thirds {
  box-sizing: border-box;
  padding-left: calc(var(--unit) / 2);
  padding-right: calc(var(--unit) / 2);
}

.row-xs .shrink {
  flex-shrink: 1;
}
.row-xs .grow {
  flex-grow: 1;
}

.row-xs .order-1 {
  order: 1;
}
.row-xs .order-2 {
  order: 2;
}
.row-xs .order-3 {
  order: 3;
}
.row-xs .order-4 {
  order: 4;
}
