/* Register */
.open-education-register{
  text-align: center;
  background: url(/assets/images/open-education/register_bg.png) repeat #F2F4F5;
}

/* Calendar */
.open-education-2021-classes h2{
  padding-bottom: 32px;
}
.open-education-2021-classes .earth-logo path{
  fill: black;
  stroke: black;
}
.open-education-2021-classes__calendar{
  width: 100%;
display: flex;
  align-content: flex-start;
  flex-wrap:wrap;
}

.open-education-2021-classes__calendar .cell{
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
}

@media (--viewport-md) {
  .open-education-2021-classes__calendar .cell{
    width: 50%;
    padding: 64px 64px 0 64px;
    height: 570px;
    box-sizing: border-box;
  }
  .open-education-2021-classes__calendar .bar{
    width: 60%;
  }
  .open-education-2021-classes__calendar .cell_3{
    height: 400px;
  }
  .open-education-2021-classes__calendar .cell_4{
    height: 400px;
    padding-top: 72px;
  }
}

.open-education-2021-classes__calendar .cell_1{
  background-color: #FCF1D0;
}
.open-education-2021-classes__calendar .cell_1 .teacher{
  color: #A67C00;
}
.open-education-2021-classes__calendar .cell_2{
  background-color: #FBFCD0;
}
.open-education-2021-classes__calendar .cell_2 .teacher{
  color: #5C7A79;
}
.open-education-2021-classes__calendar .cell_3{
  background-color: #FCE2D0;
}
.open-education-2021-classes__calendar .cell_3 .teacher{
  color: #995151;
}
.open-education-2021-classes__calendar .cell_4{
  text-align:center;
  background: url(/assets/images/open-education/register_bg.png) repeat #F3E12D;
}
.open-education-2021-classes__calendar .cell_4 h3{
 margin-bottom: 16px;
}
.open-education-2021-classes__calendar .button{
  font-size: 24px;
  border: 2px solid black;
  height: 68px;
  line-height: 68px;
  padding: 0 25px;
  border-radius: 50px;
  background-color: transparent;
  color:black;
}
.open-education-2021-classes__calendar .button:hover{
  text-decoration: none;
  background:rgba(255,255,255,.3)
}

.open-education-2021-classes__calendar .bar{
  height: 6px;
  width: 20%;
  background-color: black;
  margin-bottom: 16px;
}

.open-education-2021-classes__calendar ul{
  margin: 0;
  padding: 16px 0 0 0;
  list-style: none;
}
.open-education-2021-classes__calendar li{
  margin: 0;
  padding: 0 0 8px;
  cursor: pointer;
  display: flex;
}
.open-education-2021-classes__calendar .date{
  width: 25%;
}
.open-education-2021-classes__calendar .info{
  width: 75%;
}

.open-education-2021-classes__instructor-photo {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.open-education-2020-classes h2{
  padding-bottom: 32px;
}
@media (--viewport-md) {
  .open-education-2020-classes h2{
    padding-bottom: 16px;
  }
}
.open-education-2020-classes .button{
  margin-top: 32px;
  font-size: 24px;
  border: 2px solid black;
  height: 55px;
  line-height: 55px;
  padding: 0 25px;
  border-radius: 50px;
  background-color: transparent;
}
.button-container{
  width: 100%;
}
.open-education-2020-classes .button:hover{
  text-decoration: none;
  background:rgba(255,255,255,.3)
}

.open-education-2020-classes .title{
  font-weight: 18px;
  font-weight: bold;
  padding-bottom: 16px;
}
.open-education-2020-classes .instructor{
  font-size: 14px;
}
.open-education-2020-classes .series{
  background-color: #EAF5FF;
  font-size: 14px;
  color: #466D8C;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 16px;
}

/*  Modal */
.modal-content {
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  padding: 32px;
  box-sizing: border-box;
}
@media (--viewport-md) {
  .modal-content {
    max-width:800px;
    border: 4px solid rgba(0,0,0);
    border-radius: .3rem;
    margin: 0 auto;
    overflow-y: none;
  }
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-header {
  padding-bottom: 16px;
}
.modal-header button {
  cursor: pointer;
}

.show-modal.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
  transition: 300ms opacity ease-out,
              300ms transform ease-out;
}
@media (--viewport-md) {
  .modal-dialog {
    height: auto;
    width: auto;
    margin: auto 1rem;
  }
}
.modal.animate-modal .modal-dialog{
  opacity: 1;
  transform: translateY(0);
}

.modal .modal-content{
  padding: 32px;
}
.modal .modal-close{
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  background-color:black;
  border-radius: 50px;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-close svg {
  width: 25px;
  height: 25px;
}
.modal .modal-close svg path{
  fill: white;
  stroke: white;
}
.modal h2{
  padding-bottom: 32px;
}
.modal .highlight{
  background-color: #EDE8C2;
}
.modal p a{
  font-weight: bold;
}

/* Course */
.open-edu-course h1{
  padding-bottom: calc(var(--unit) / 2);
}
.open-edu-course .series{
  background-color: lightgray;
  padding: 8px 10px;
  font-size: 13px;
  display: inline-block;
}
.open-edu-course hr{
  height: 2px;
  background-color: #DCDCDC;
  width: 100%;
  border: 0;
  margin: var(--unit) 0;
}
