

/* Helvetica redesign styles
*/
.header {
  font-size: 90%;
  position: relative;
  padding-top: var(--unit);
}
.sf-logo-S-mark {
  position: absolute;
  top: 30px;
  left: -29px;
  width: 28px;
}
.sf-logo {
  text-decoration: none;
  line-height: 1.1;
}
@media (--viewport-md) {
  .sf-logo-S-mark {
    top: 39px;
    left: -37px;
    width: 36px;
  }
}
.the-earth {
  background-size: contain;
}
@media (--viewport-md) {
  .the-earth {
    padding: 3em 0 1.5em 3em;
    background-size: contain;
  }
  .container-donorbox-home {
    margin-bottom: -10em;
  }
}
.slash::before {
  content: ' ';
  height: 5px;
  transform: rotate(9deg);
  margin-top: 10em;
  display: block;
  position: relative;
  top: -8em;
  z-index: -1;
  background: var(--text-color);
}
.slash--left::before {
  transform: rotate(-7deg);
}

.dot-sticker {
  width: 7em;
  height: 7em;
  border-radius: 3.5em;
  text-align: center;
  /* line-height: 7em; */
  display: flex
}
.dot-sticker--superfund-phase {
  position: absolute;
  top: 0;
  right: 0;
  /* transform: rotate(45deg); */
}
/* deprecated? */
.dot {
  width: 4em;
  height: 4em;
  border-radius: 2em;
}



/* Helvetica list styles
*/
.impact-list-item {
  padding-bottom: 1em;
  border-bottom: 2px dotted var(--dark-grey);
  margin-bottom: 1em;
}
.impact-list-item a {
  display: block;
  text-decoration: none;
}


/* Sidebar design that Pops
*/
.sidebar-pop::before {
  display: block;
  content: '';
  width: 20em;
  height: 20em;
  border-radius: 5em;
  background: var(--yellow);
  position: absolute;
  z-index: -1;
  top: -3em;
}


/* Study Hall NYT 2020
 */
.nyt-btn {
  cursor: pointer;
  display: block;
  padding: .7em .7em .6em;
  border: 3px solid black;
  background: white;
  border-radius: 0;

  @extend .title-sm;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}
.nyt-livestream {
  background: var(--nyt-pink);
  border-color: var(--nyt-pink);
}
.nyt-program { color: var(--nyt-blue); }
.nyt-speakers { color: var(--nyt-orange); }
.nyt-media { color: var(--nyt-pink); }
.nyt-survey { color: var(--nyt-green); }
.nyt-partners { color: var(--nyt-blue); }
.nyt-title { padding: 2em 0 .75em; }
.nyt-L { transform: rotate(3deg); }
.nyt-R { transform: rotate(-3deg); }

.podcast-icon {
  height: 1em;
  width: auto;
}

.sponsors-thumbs {
  width: 20% !important;
  max-width: 200px;
  padding: 0 calc(var(--unit) *1.5);
  box-sizing: border-box;
}

.studyhall-thumbs {
  width: 16.66666% !important;
  height: auto;
  display: block;
  float: left;
}
@media (--viewport-lg) {
  .studyhall-thumbs {
    width: 10% !important;
  }
}
@media (--viewport-xs-only) {
  .studyhall-thumbs {
    width: 25% !important;
  }
  .sponsors-thumbs {
    width: 32% !important;
  }
  #js-typewriter {
    min-height: 2.2em;
  }
}

.page-section {
  background: var(--very-light-grey);
  padding: var(--unit);
}
@media (--viewport-md) {
  .page-section {
    padding: calc(var(--unit) *2);
  }
}


/* Study Hall Locations List Menu
*/
.list-menu a, .list-menu span {
  display: inline-block;
  padding: .5em 0;
  margin: 0 .5em;
}
.list-menu a {
  text-decoration: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid;
}
.list-menu a:hover {
  border: 3px solid;
}


/* About / Team
*/
.about-team {
  margin-bottom: 2em;
}
.team-img {
  text-align: center;
}
.team-img img {
  max-width: 80%;
}
.team-name {
  margin-bottom: 0;
  @extend .title-sm;
}
