
/* Helvetica redesign styles
*/
.header {
  font-size: 90%;
  position: relative;
  padding-top: var(--unit);
}
.dot {
  width: 4em;
  height: 4em;
  border-radius: 2em;
}
.the-earth {
  background-size: contain;
}
@media (--viewport-md) {
  .the-earth {
    padding: 3em 0 1.5em 3em;
    background-size: contain;
  }
  .container-donorbox-home {
    margin-bottom: -10em;
  }
}
.slash::before {
  content: ' ';
  height: 5px;
  transform: rotate(9deg);
  margin-top: 10em;
  display: block;
  position: relative;
  top: -8em;
  z-index: -1;
  background: var(--text-color);
}
.slash--left::before {
  transform: rotate(-7deg);
}


/* Helvetica list styles
*/
.impact-list-item {
  padding: 1em 0;
  border-bottom: 2px dotted var(--dark-grey);
}
.impact-list-item a {
  display: block;
  text-decoration: none;
}


/* Sidebar design that Pops
*/
.sidebar-pop::before {
  display: block;
  content: '';
  width: 20em;
  height: 20em;
  border-radius: 5em;
  background: var(--yellow);
  position: absolute;
  z-index: -1;
  top: -3em;
}

/* Study Hall NYT 2020
 */
.nyt-btn {
  cursor: pointer;
  display: block;
  padding: .7em .7em .6em;
  border: 3px solid black;
  background: white;
  border-radius: 0;

  @extend .title-sm;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}
.nyt-livestream {
  background: var(--nyt-pink);
  border-color: var(--nyt-pink);
}
.nyt-program { color: var(--nyt-blue); }
.nyt-speakers { color: var(--nyt-orange); }
.nyt-media { color: var(--nyt-pink); }
.nyt-survey { color: var(--nyt-green); }
.nyt-partners { color: var(--nyt-blue); }
.nyt-title { padding: 2em 0 .75em; }
.nyt-L { transform: rotate(3deg); }
.nyt-R { transform: rotate(-3deg); }

.podcast-icon {
  height: 1em;
  width: auto;
}

.sponsors-thumbs {
  width: 20% !important;
  max-width: 200px;
  padding: 0 calc(var(--unit) *1.5);
  box-sizing: border-box;
}

.studyhall-thumbs {
  width: 16.66666% !important;
  height: auto;
  display: block;
  float: left;
}
@media (--viewport-lg) {
  .studyhall-thumbs {
    width: 10% !important;
  }
}
@media (--viewport-xs-only) {
  .studyhall-thumbs {
    width: 25% !important;
  }
  .sponsors-thumbs {
    width: 32% !important;
  }
  #js-typewriter {
    min-height: 2.2em;
  }
}

.page-section {
  background: var(--very-light-grey);
  padding: var(--unit);
}
@media (--viewport-md) {
  .page-section {
    padding: calc(var(--unit) *2);
  }
}


/* Study Hall Locations List Menu
*/
.list-menu a, .list-menu span {
  display: inline-block;
  padding: .5em 0;
  margin: 0 .5em;
}
.list-menu a {
  text-decoration: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid;
}
.list-menu a:hover {
  border: 3px solid;
}


/* Team
*/
.card-team {
  margin-bottom: 0.8em;
}
.team-img {
  text-align: center;
}
.team-img img {
  max-width: 80%;
}
.team-name {
  margin-bottom: 0;
  @extend .title-sm;
}


/* LAM */

.card-container {
    height: 500px;
    background-color: #fff;
    padding: 10px 10px;

  }

  .card-stack {
        max-width: 1000px;
        height: 800px;
        margin: 0 auto;
        position: relative;
  }

.buttons {
            
            position: absolute;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            left: 0;
            top: 160px;
            color: rgba(255, 255, 255, 0.7);
            text-align: center;
            line-height: 35px;
            text-decoration: none;
            font-size: 22px;
            z-index: 100;
            outline: none;
            transition:all 0.2s ease; 

              &:hover{
                transform: scale(1.3,1.3);
            }        
}


.prev {
    left: 15px;
    right: auto;
}

.next {
    left: auto;
    right: 15px;
        }
         
  

 .card-list {
    width: 300px;


        li {
            transition: all 100ms ease-in-out;
                border-radius: 2px;
                position: absolute;
                list-style: none;
                height: 300px;
                -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
                box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);    
                left: 0;
                right: 0;
                margin: 0 auto;
                padding-top: 20px;
                text-align: center;
                background-size:cover;

            
        }
}

.card5 {
                    top: 80px;
                    width: 100%;
                    /* animation: scaleCard 100ms; */
}
.card4 {
                    top: 70px;
                    width: 99%;
                    /* animation: scaleCard 100ms; */
}

.card3 {
                    top: 60px;
                    width: 98%;
}

.card2 {
                    top: 50px;
                    width: 97%;
}
.card1 {
                    top: 40px;
                    width: 96%;
}

.transformThis {
    animation: scaleDown 500ms;
}

.transformPrev {
    animation: scaleUp 100ms;
    display: none;
}



.expand {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
}
.expand .activator {
    height: 200px;
    width: 200px;
    float: left;
    display: block;
}
.img {
    border: 1px solid maroon;
    text-align: center;
    margin: 15px;
    height: 168px;
    width: 168px;
    float: left;
}
.content-show {
    display: none;
    margin: 15px;
}
.activator:hover {
    width: 500px;
}
.activator:hover .content-show {
    display: block;
}
.activator:hover .img {
    float: left;
}


