<div class="section hero on-dark-bg {{ page.hero_bg_color }}">
  <div class="container">
    <div class="valign-top">
      <div class="hero-bar"></div>
      <p class="title-md-lg">{{ page.hero_title }}</p>
    </div>
  </div>
</div>