<div class="sponsor">
  <p class="text-sm">In collaboration with: </p>
  <p><img class="sponsor-photo" src="{{ 'images/open-education/sponsors/' | append: include.sponsor_logo | asset_url }}"></p>
</div>
